<div class="about">
  <h1>Rock Paper Scissors</h1>
  <p>Welcome to Rock Paper Scissors just input your 2 choices in
  the address bar above ↑ to get the result eg: http://localhost:4567/Paper/Rock</p>
</div>
